# Replace with my keys and rename file to `.env`
SITE_DOMAIN=kicanter.dev

# User IDs (found via `id` command)
PUID=...
PGID=...

# Porkbun API
PORKBUN_API_KEY=...
PORKBUN_SECRET_KEY=...

# Timezone
TZ=America/New_York
